@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer theme, base;

@import "./theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

@theme {
    --color-primary: #9C4F2B;
    /* Marrom Terracota - contornos e destaques */
    --color-background: #F9F3EE;
    /* Bege Claro - fundo principal */
    --color-accent: #C67C52;
    /* Marrom Claro - elementos de apoio */
    --color-soft: #FCEFE8;
    /* Marfim Rosado - hover e detalhes */
    --color-dark: #4A2E1F;

    --animate-slide-in-right: slide-in-right 0.6s ease-out forwards;
    --animate-slide-in-left: slide-in-left 0.6s ease-out forwards;


    @keyframes slide-in-right {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slide-in-left {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@layer base {
    html {
        scroll-behavior: smooth !important;
    }

    figure {
        overflow: hidden;
    }

    img {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        object-fit: contain;
    }

    body {
        margin: 0;
        min-width: 320px;
        min-height: 100vh;
        padding: 1.5rem;
        overflow-y: scroll;
    }

    button {
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        gap: 1rem;
        border-radius: 1rem;
    }
}